
.user{
  background-color: tomato;
  text-align: center;
  margin-top: 1rem;
}


.btn-add{
  font-size: 20px;
  line-height: 12px;
  display: inline-block;
  position: relative;

}
.btn-add:hover{
  border: 1px solid #007bff;
  background: white;
  color: #007bff;
}
